
      #selfie{
            background: #bfc1c2;
            margin-left: 500px;
            margin-right: 500px;
      }

      #special_story{
            font-style: italic;
      }

      #navigation_bar {
            margin-left: 45%;
            margin-right: 55%;
            text-align: center;
            position:fixed;
            top:0;
      }

      table{
            table-layout: center;
            margin-left:auto;
            margin-right:auto;
          }  

      #introduction {
            text-align: center;
            margin-left: 30%;
            margin-right: 30%;
      }

      body{
            background: #F0F8FF;
            text-align: center;
      }



      h2 {  
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
      }
      h3 {
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
      }
      p{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
      }
      ol{
        margin-left:45%;
        margin-right:55%;
      }
      iframe {
            margin-left: auto;
            margin-right: auto;
      }     