.container{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "sidebar review rating analysis"
  "sidebar visitor visitor visitor"
}

.sidebar{
  grid-area:sidebar;
}

.review{
  grid-area: review;
}

.rating{
  grid-area: rating;
}

.sentiment{
  grid-area: rating;
}

.visitor{
  grid-area: visitor;
}