.h1 {
    text-decoration-style: solid; /*Doesn't work*/
    align-items: center;/*Doesn't work*/
}

.search_bar {
    align-items: center;/*Doesn't work*/
    align-content: center;/*Doesn't work*/
}